<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/vagazap" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/VagaZap-418387148738722/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/vagazap" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</div>
