<h5>Formação educacional:</h5>

<div class="degrees-box">
  <% @degrees.each do |degree| %>
    <div class="degree-box">
      <p><%= degree.level %> <% if degree.complete == "1" %>
        Completo
      <% else %>
        Incompleto
      <% end %>
      </p>
      <p><%= degree.school_name %></p>
      <p><%=  degree.field if degree.field.nil? == false %></p>
    </div>
  <% end %>
</div>

<%= link_to "Incluir diploma", new_degree_path, class: "btn btn-secondary" %>
