<h5>Informações pessoais:</h5>

<div class="degrees-box">
  <div class="degree-box">
    <p>Nome: <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p><i class="fas fa-at"></i> <%= current_user.email %></p>
    <p><i class="fas fa-phone"></i> <%= current_user.phone %></p>
  </div>
</div>
