.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 24px;
  padding-top: 16px;
}

@media (min-width: 768px) {
  .banner {
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.banner-content {
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 0px 0px;
  top: 0;
}

@media (min-width: 768px) {
  .banner-content {
  height: 400px;
  padding-top: 80px;
  }
}

.banner h5 {
  color: white;
  line-height: 0.8;
  text-align: center;
}

@media (min-width: 576px) {
  .banner h5 {
  font-size: 28px;
  line-height: 1.0;
  }
}

.btn-how {
  color: rgb(20,20,20);
  display: block;
  height: 10vh;
  text-align: center;
  padding: 16px;
}

.btn-how:hover {
  opacity: 0.8 !important;
  text-decoration: none;
}

.btn-how:active {
  opacity: 0.6 !important;
  text-decoration: none;
}
