.navbutton {
  user-select: none;
  padding: 4px 8px;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  color: white;
  text-decoration: none;
  background-color: #E84855;
  margin: 0px 10px 0px 12px;
  text-decoration: none !important;
  position: relative;
}

.navbutton:hover {
  opacity: 0.7;
  color: white;
}

.navbutton:active {
  top: 2px;
}

.btn-primary {
  color: white !important;
  text-decoration: none !important;
  background-color: #E84855 !important;
  border-color: #E84855 !important;
  margin: 10px !important;
  position: relative;
}

.btn-primary:hover {
  opacity: 0.7 !important;
}

.btn-primary:active {
  opacity: 0.5 !important;
  top: 2px;
}

.btn-secondary {
  color: white !important;
  text-decoration: none !important;
  background-color: #577399 !important;
  border-color: #577399 !important;
  margin: 10px !important;
  position: relative;
}

.btn-secondary:hover {
  opacity: 0.7 !important;
}

.btn-secondary:active {
  opacity: 0.5 !important;
  top: 2px;
}

.btn-facebook {
  background-color: #3B5998 !important;
  border-color: #3B5998 !important;
  margin-top: 30px !important;
}
