.footer {
  display: flex;
  background-color: #495867;
  height: 50px;
  justify-content: center;
  width: 100%;
  color: white;
 }

@media (min-width: 750px) {
  .footer {
    height: 64px;
  }
}

.footer-links {
  display: flex;
  font-size:28px;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  padding: 0px 10px;
  color: white;
}

.footer-links a:hover {
  opacity:0.7;
  position: relative
}

.footer-links a:active {
  top: 1px;
}
