.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.form-box h5 {
  margin: 20px 0px;
}

.form-inputs {
  min-width: 296px;
}
