.main-content {
  min-height: calc(100vh - 100px);
}

@media (min-width: 576px) {
  .main-content {
    min-height: calc(100vh - 128px);
  }
}

.steps-container {
  margin: 0px auto 30px auto;
  padding: 30px 24px 0px 24px;
}

@media (min-width: 992px) {
  .steps-container {
    padding: 0 15px;
    margin: 56px auto 56px auto;
  }
}

.steps {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .steps {
    flex-direction: row;
    justify-content: center;
  }
}

.steps-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 0px 30px 0px;
  color: #495867;
}

.steps-item h5 {
  font-weight: 700;
}

.steps-item p {
  font-weight: 500;
  margin-bottom: 24px;
}

@media (min-width: 400px) {
  .steps-item {
    padding: 0 25px;
  }
}

.steps-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

@media (min-width: 992px) {
  .steps-img {
    width: 530px;
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .steps-img {
    width: 635px;
    margin-bottom: 0;
  }
}
