.main-content {
  min-height: calc(100vh - 100px);
}

@media (min-width: 750px) {
  .main-content {
    min-height: calc(100vh - 128px);
  }
}


@media (min-width: 576px) {
  .steps-container {
    padding: 0 15px;
    margin: 0px auto 0px auto;
  }
}

.steps-container {
  margin: 0px auto 0px auto;
  padding: 0 24px;
}

.steps {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .steps {
    flex-direction: row;
    justify-content: center;
  }
}

.steps-text {
  text-align: center;
  margin-top: 70px;
}

.steps-item {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .steps-item {
    margin-bottom: 42px;
  }
}

.steps-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  margin-bottom: 36px;
}

@media (min-width: 992px) {
  .steps-img {
    width: 530px;
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .steps-img {
    width: 635px;
    margin-bottom: 0;
  }
}
