.navbar-header {
  justify-content: space-between;
  background: #495867;
  min-height: 50px;
  width: 100%;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

@media (min-width: 750px) {
  .navbar-header {
    height: 64px;
  }
}

.navbar-header .navbar-collapse {
  flex-grow: 0;
}

.navbar-header .navbar-brand img {
  width: 40px;
}


.nav-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}

.nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 12px !important;
}

.navbar-brand {
  margin-right: 0px;
  padding: 0px;
  height: 40px;
  // vertical-align: center;
  display: flex;
  align-items: center;
  color: white !important;

  h5 {
    font-family: $logo-font;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 28px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white !important;
  opacity: 0.6;
}

.navbutton {
  display: inline-block;
  font-weight: 400;
  color: #0E0000;
  text-align: center;
  vertical-align: middle;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 4px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
  text-decoration: none;
  background-color: #E84855;
  border-color: #E84855;
  margin: 0px 10px;
  font-family: "Roboto";
}

.nav-link {
  padding: 0px;
}
