.navbar-header {
  justify-content: space-between;
  background: #495867;
  min-height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .navbar-header {
    height: 64px;
  }
}

.nav-left{
  margin-left: 12px;

  a {
    text-decoration: none;
  }
}

.navbar-logo {
  color: white !important;

  h4 {
    font-family: $logo-font;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 3px;
  }
}

// #logo {
//   background-color: rgb(70,160,255);
// }

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 12px !important;
}

@media (min-width: 576px) {
  .nav-right {
    margin-right: 20px !important;
  }
}

.nav-right a {
  font-weight: 500;
}

.navlogin {
  padding: 4px 8px;
  color: white;
  text-decoration: none !important;
}

.navlogin:hover {
  color: white !important;
  opacity: 0.7;
}
