.profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.profile-box h5 {
  margin: 50px 0px 20px 0px;
  color: #495867;
  font-weight: 700;
}

.profile-box p {
  color: #495867;
  font-weight: 500;
}

.degrees-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.degree-box {
  background-color: white;
  padding: 0px 10px 10px 10px;
  margin: 0px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: space-around;
  opacity: 1;
}

@media (min-width: 576px) {
  .degree-box {
    margin: 0px 10px 20px 10px;
  }
}

.degree-box p {
  margin: 10px 0px 0px 0px;
}

.separator {
  margin: 35px 0px;
  border: solid 0.5px #495867;
  width: 100%;
}
