.profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.profile-box h5 {
  margin: 20px 0px;
  color: #495867;
  font-weight: 700;
}

.profile-box p {
  color: #495867;
  font-weight: 500;
}

.degrees-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 0px 0px 0px 0px;

}

.degree-box {
  background-color: white;
  padding: 0px 10px 10px 10px;
  margin: 0px 10px 20px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: space-around;
  opacity: 1;
}

.degree-box p {
  margin: 10px 0px 0px 0px;
}
